._*
Thumbs.db
desktop.ini
.DS_Store
*.local.json
.elasticbeanstalk
__pycache__
.virtualenv

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
