<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <style>
        *
        {
            border: 0;
            padding: 0;
        }
        .form-control
        {
            resize:vertical
        }
        body
        {
            overflow-y: scroll;
            overflow-x: hidden;
        }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}

        <div style="border: 2px dashed #DD0000; border-radius: 12px; padding: 16px; margin-top: 16px; margin-bottom: 16px;">
            {{message}}
        </div>

        {% endfor %}
        {% endwith %}

        <div>
            {{ body }}
        </div>
    </body>
</html>
