<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12"> 
                            <h3>Create Thread</h3> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"> 
                            <form action="" method="post">
                                {{ form.hidden_tag() }}
                                <p>
                                {{ form.heading.label }}<br>
                                {{ form.heading(size=32) }}
                                </p>
                                <p>
                                {{ form.body.label }}<br>
                                {{ form.body(size=32) }}
                                </p>
                                <p>{{ form.submit() }}</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

