<script>
    /**
    * Allows an iFrame to grow to its contents after they load.
    */
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }

    /**
    * Unhides the attachment frame.
    */
    function startAttachment() {
        document.getElementById("attach-frame").style.display = "block";
        document.getElementById('attach-iframe').src += '';
    };

    /**
    * Add a number to the JSON array string. Uniqueness isenforced.
    */
    function selectAttachment(number, fileName) {

        document.getElementById("attach-frame").style.display = "none";

        var formElement = document.getElementById('fileIds');
        var currentList = JSON.parse(formElement.value);
        for (var i = 0; i < currentList.length; i++) {
            if (number == currentList[i]["id"]) return;
        }
        currentList.push({"id": number, "name": fileName});
        formElement.value = JSON.stringify(currentList);

        loadAttachmentList();
    }

    /**
    * Renders the markup for the visible attachment list. Note that the actual attachment form input is actually stored
    * with selectAttachment.
    */
    function loadAttachmentList() {

        var formElement = document.getElementById('fileIds');
        var currentList = JSON.parse(formElement.value);
        var rendered = "";
        for (var i = 0; i < currentList.length; i++) {
            rendered += '<button type="button" class="list-group-item list-group-item-action">';
            rendered += currentList[i]["name"] + '</button>';
        }
        rendered += '<button type="button" class="list-group-item list-group-item-action active" style="width: auto;" '
        rendered += 'onclick="startAttachment();" >';
        rendered += 'Attach A File</button>'

        document.getElementById("fileList").innerHTML = rendered;
    }

  //When everything loads, populate the attachment list
  document.addEventListener("DOMContentLoaded", loadAttachmentList, false);
</script>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            {%if edit%}
                            <h3>Edit Thread</h3>
                            {%else%}
                            <h3>Create Thread</h3>
                            {%endif%}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form action="" method="post">

                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    {{ form.heading.label }}<br>
                                    {{ form.heading(class_="form-control") }}
                                    {% for error in form.heading.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    {{ form.body.label }}<br>
                                    {{ form.body(class_="form-control") }}
                                    {% for error in form.body.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <input type="text" value="[]" id="fileIds" name="fileIds" style="display: none;" >
                                    <label>Attached Files (click to remove)</label><br/>
                                    <div id="fileList" class="list-group" style="width: 50%; min-width: 300px;">
                                        <i>Loading...</i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form.submit(class_="form-control") }}
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row" id="attach-frame" style="display: none;">
                        <iframe
                            src="/file-list"
                            id="attach-iframe"
                            style="width: 100%; max-height: 300px; padding: 0; margin: 0; display: block; overflow-y: scroll; overflow-x: hidden;"
                            frameborder="0"
                            onload="resizeIframe(this);" ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
