
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="container-fluid">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3"><b>File Name</b></div>
                        <div class="col-md-3"><b>URL</b></div>
                        <div class="col-md-2"><b>Time Created</b></div>
						<div class="col-md-2"><b>Remove</b></div>
                    </div>
                </div>
                <!--File information retrieval-->
                {% for file in files%}

                <div class="userProfile">
                    <a href="{{ turl }}">
                        <div class="row">
                            <div class="col-md-3">
                                {{ file["name"] }}
                            </div>
                            <div class="col-md-3">
                                {{ file["url"] }}
                            </div>
                            <div class="col-md-2">
                                {{ file["time_created"].strftime("%H:%M %D")}}
                            </div>
							<div class="col-md-2">
								<form action="/file-delete" method="POST" >
									<input name="file" id="file" type="text" style="display: none;" value="{{ file['id'] }}"></input>
									<button type="submit" class="btn btn-primary">Delete</button>
								</form>
                            </div>
                        </div>
                    </a>
                </div>

                {% else %}
                <div class="row">
                    <div class="col-md-12">

                        <em>You don't have any files</em>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
<form id="llama" method="POST" action="/file-manager" enctype="multipart/form-data">
	<div class="row">
		<div class="col-md-4">
			<label for="file">Choose file to upload</label>
		</div>
		<div class="col-md-4">
		<input type="file" id="file" name="file" multiple></input>
		</div>
		<div class="col-md-4">
		<!--<input type="submit" value="Upload" class="btn btn-primary"></input>-->
		<button type="submit" class="btn btn-primary">Upload</button>
		</div>
	</div>
</form>
<form id="taco" method="GET" action="/">
    <button type="submit" class="btn btn-primary">Back</button>
</form>
