{% block body %}
<div class="row">
    <div class="col-md-9"> 
        <h3>Condensation</h3> 
    </div>
    <div class="col-md-3">    
        <button type="button" class="btn btn-primary">Create Thread</button>  
    </div>

</div>

<div class="row">
    <div class="col-md-9"><h4>Thread</h4></div>
    <div class="col-md-3"><h4>Last Reply Time</h4</div>
</div>


<div class="container-fluid">
    {% for thread in threads %}

    <a href="{{ thread["id"] }}">
        <div class="row">
            <div class="col-md-9">
                <b>{{ thread["heading"] }}</b>
            </div>
            <div class="col-md-3">
                {{ thread["time_last_reply"] }}
            </div>
        </div>
    </a>

    {% else %}

    <em>No entries here so far</em>

    {% endfor %}

</div>
{% endblock %}
